<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1163/1163661.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
</head>

<body>
  <div class="container">
    <h1>Weather for anywhere!</h1>
    <form action="/" method="post">
      <input type="text" name="city" placeholder="Enter City Name" autocomplete="off">
      <button class="btn" type="submit">Go!</button>
    </form>
